---
// import "../../style.css";
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Header from "./header.astro";
import Footer from "./footer.astro";
const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");
---

<!doctype html>
<link rel="stylesheet" href="style.css" />
<html lang="en">
  <Header currentPage="blog" showTapeMachine={true} />
  <div class="wrap">
    <body>
      <div>
        {
          allBlogArticles.map((article) => (
            <div class="blog-card">
              <h2>{article.data.title}</h2>
              <p>By {article.data.author}</p>
              <a href={`/articles/${article.slug}`}>Read more</a>
            </div>
          ))
        }
      </div>

      <!-- <ul>
        <li><a href="/src/pages/blog/post.md">Post 1</a></li>
      </ul> -->
    </body><Footer />
  </div>
</html>
