<!-- FOOTER SECTION -->
<footer class="footer">
  <div>
    <span class="h3"
      >This website was created by David Ross - &copy 2025 <span>
        ----------
      </span>
      <span>
        <a
          href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
          target="_blank"
          rel="license noopener noreferrer"
        >
          <span class="h3">
            CC BY-SA 4.0

            <img
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
              alt=""
              width="20px"
            />
            <img
              src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
              alt=""
              width="20px"
            />
            <img
              src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
              alt=""
              width="20px"
            />
          </span>
        </a>
      </span>
    </span>
  </div>
</footer>
