/* variables for resuse */
:root {
    --bg-colour: #1b1c1b;
    --bg-colour-old: #222222;
    --bg-dark: #1a1a1a;
    --bg-light: #a7a7a7;
    --text-white: #fff9eaf7;
    --text-grey: #fff9ea79;
    --text-grey-dark: #bbbbbb;
    --box-shadow: 5px 5px 3px #111111;
    --box-shadow-inward: 3px 3px 10px #111111;
    --orange-glow: 0.2em 0.2em 0.5em var(--purple);
    --border-radius: 20px;

    /*Primary colour scheme*/
    --red: #ef787b;
    --orange: #f6915f;
    --green: #99cb9b;
    --yellow: #fdcb71;
    --brown: #ce7b59;
    --blue: #5f99f6;
    --purple: #87658e;

    color-scheme: light dark;
}

blockquote {
    border-left: 4px solid var(--orange);
    background: var(--bg-dark);
    color: var(--text-white);
    padding: 1em 1.5em;
    margin-left: 2em;
    margin-bottom: 2em;

    font-style: italic;
}

p {
    margin-bottom: 1em;
    line-height: 1.2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inclusive Sans", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    color: var(--text-white);
    background-color: var(--bg-colour);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px;
    overflow-y: scroll;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;
}

.blog-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;

    border-radius: 2px;

    align-items: center;
}

.blog-card:hover {
    background-color: var("--bg-dark");
    cursor: pointer;
}

.blog-image {
    width: 300px;
    /* or 100%, or any fixed value */
    height: 150px;
    margin-left: 10px;
    /* adjust as needed */
    object-fit: cover;
    /* ensures the image fills the box and is cropped if needed */
    border-radius: var(--border-radius);
    /* optional: rounded corners */

    display: block;
}

.label {
    color: var(--text-white);
}

iframe {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    margin-bottom: 0.5em;
    gap: 1em;
    flex: 1;
}

.video-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.video-box {
    position: relative;
    width: 100%;
    max-width: 480px;
    /* smaller than the default 560px */
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.blog-video-box {
    position: relative;
    margin: 50px auto;
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.blog-video-box iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.blog-wrap {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
    justify-items: center;
}

.blog-inline-image {
    display: block;
    max-width: 800px;
    margin: 50px auto;

    border-radius: var(--border-radius);
}

.text-content {
    max-width: 70%;
    align-items: center;
    display: inline-block;
    flex: 1;
    font-size: 1.2em;
}

.hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.gear-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 2em;
}

h1 {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

h2 {
    color: var(--text-white);
    margin: 20px 5px 10px 0px;
    font-size: 1.2em;
}

.h3 {
    font-size: 0.7em;
    color: var(--text-white);
}

.border {
    border-bottom: 1px solid var(--text-white);
}

.footer {
    display: block;
    border-top: 1px solid var(--text-white);
    padding-top: 10px;
    align-items: center;
}

button {
    border-radius: 10px;
    border: 1px solid var(--text-white);
    font-size: 18px;
    font-weight: 700;
    width: 130px;
    height: 50px;
    margin: 10px;
    color: var(--bg-colour);
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
}

.button:hover {
    background-color: var(--bg-dark);
    color: var(--text-white);
    border: 1px solid var(--text-white);
    box-shadow: var(--box-shadow);
    box-shadow: inset var(--box-shadow-inward);
}

form {
    background-color: var(--bg-colour);
    border: 1px solid var(--text-white);
    border-radius: var(--border-radius);
    /*margin: 20px, 20px;*/
    padding: 25px;
    width: 100%;
    box-shadow: var(--box-shadow);
}

input {
    border: 1px solid var(--text-white);
    background-color: var(--bg-dark);
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 12px 20px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    box-shadow: var(--box-shadow);
}

textarea {
    border: 1px solid var(--text-white);
    background-color: var(--bg-dark);
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 12px 20px;
    height: 200px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-shadow: var(--box-shadow);
}
.slider {
    display: flex;
    aspect-ratio: 23 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    scrollbar-width: none; /* Firefox */
}

.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    border-radius: var(--border-radius);
}

.slider picture {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 100%;
    /* Hide scrollbar for IE and Edge */
}

.slider::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
}

.slider picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--text-white);
    opacity: 0.6;
    transition: opacity ease 250ms;
    cursor: pointer;
    /* Add this to show it's clickable */
}

.slider-nav a:hover {
    opacity: 1;
}

.title {
    padding: 0.5em 0;
    font-size: 2em;
    font-weight: 500;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    border-bottom: 2px solid var(--text-white);
}

.nav-links {
    display: inline-flex;
    white-space: nowrap;
    /* flex-wrap: wrap; */
    /* display: inline-block; */
    margin-left: auto;
    gap: 10px;
    /* Adds spacing between links */
}

.nav a {
    color: var(--text-grey-dark);
    text-decoration: none;
    padding-left: 20px;
    font-size: 30px;
}

.profile-pic {
    flex-shrink: 0;
    max-width: 250px;
    width: 250px;

    border-radius: var(--border-radius);
    margin-top: 60px;
    box-shadow: var(--box-shadow);
}

.gear-image {
    filter: grayscale(1) contrast(0.8) brightness(1.1);

    mix-blend-mode: hard-light;
    transition: filter 3s ease;
}

.gear-image.active {
    filter: grayscale(0) contrast(1) brightness(0.8);
    mix-blend-mode: normal;
    /* mix-blend-mode: normal;
  transition: all ease 1s; */
}

.gear-section {
    padding-left: 20px;
}

.content-box-l {
    /* background-color: #2e2e2e; */
    width: 100%;
    height: fit-content;
    border-radius: var(--border-radius);
    margin: 10px;
    margin-top: 20px;
    /* padding: 10px; */
}

.spacer-short {
    height: 24px;
}

.spacer-long {
    height: 48px;
}
.image-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.poster {
    width: 130px;
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    margin-left: 5px;
    box-shadow: var(--box-shadow);
}

.poster:hover {
    box-shadow: var(--orange-glow);
    transition: ease 500ms;
}

#clickable {
    background: transparent;
    box-shadow: none;
}

#clickable:hover {
    cursor: pointer;
    box-shadow: var(--orange-glow);
    transition: ease 500ms;
}

.brand-icon {
    width: 60px;
    /* border-radius: 5px; */
    margin-bottom: 40px;
    margin-left: 20px;
}

a {
    color: var(--orange);
    text-decoration: none;
}
.wrap {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.lucide {
    color: var(--text-white);
    margin: 0 10px 0px 10px;
    stroke: var(--orange);
}

.lucide-button {
    color: var(--text-white);
    margin: 1px;
    stroke: var(--orange);
    align-items: center;
    width: 20px;
}

.icons > a > img {
    max-width: 3em;
}

#wiggle:hover > .filter-brown {
    filter: brightness(0) saturate(100%) invert(49%) sepia(81%) saturate(350%)
        hue-rotate(332deg) brightness(83%) contrast(90%);
}

#wiggle:hover > .filter-lila {
    filter: brightness(0) saturate(100%) invert(90%) sepia(83%) saturate(5521%)
        hue-rotate(209deg) brightness(84%) contrast(84%);
}

#wiggle:hover > .filter-yellow {
    filter: brightness(0) saturate(100%) invert(98%) sepia(40%) saturate(2156%)
        hue-rotate(325deg) brightness(92%) contrast(97%);
}

.hblue:hover {
    color: var(--blue);
}

.hbrown:hover {
    color: var(--brown);
}

.hgreen:hover {
    color: var(--green);
}

.hlila:hover {
    color: var(--purple);
}

.horange:hover {
    color: var(--orange);
}

.hred:hover {
    color: var(--red);
}

.hyellow:hover {
    color: var(--yellow);
}

#wiggle {
    font-family: "Inclusive Sans";
}

#wiggle:hover {
    animation: 0.15s wiggle ease infinite;
    box-shadow: none;
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    #wiggle:hover {
        animation: none;
    }
}

/*  Screen Sizing */

@media screen and (max-width: 760px) {
    .nav-links {
        flex-wrap: wrap;
        margin-left: auto;
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        justify-items: left;
        color: var(--text-white);
        font-size: 27px;
    }

    .van-image {
        max-width: 70%;
    }

    .gear-section {
        padding-left: 5px;
    }

    .van-svg {
        left: 50px;
    }

    #animation-wheel-1 {
        left: 54px;
    }

    #animation-wheel-2 {
        left: 95px;
    }

    button {
        width: 110px;
        height: 50px;
        margin: 10px;
    }

    .home-content {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .text-content {
        max-width: 100%;
    }

    .image {
        margin: 20px 0 0 0;
    }

    .profile-pic {
        margin: 10px;
    }

    .poster {
        width: 100px;
    }

    .title {
        font-size: 1.8em;
    }

    input {
        border: 1px solid var(--text-white);
        margin: 10px 0px 10px 0px;
        padding: 12px 20px;
        width: 100%;
        height: 40px;
    }

    textarea {
        border: 1px solid var(--text-white);
        border-radius: 10px;
        margin: 10px 0px 10px 0px;
        padding: 12px 20px;
        height: 150px;
        width: 100%;
    }
}

#email-link {
    color: var(--blue);
}

#email-link:hover,
#email-link:focus {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

@keyframes wiggle {
    0% {
        transform: translate(0em, 0em);
    }

    12.5% {
        transform: translate(0.025em, -0.0525em) rotateZ(2deg);
    }

    25% {
        transform: translate(0.125em, 0em) rotateZ(2deg);
    }

    37.5% {
        transform: translate(0.025em, 0.025em) rotateZ(-2deg);
    }

    50% {
        transform: translate(0em, 0em) rotateZ(-2deg);
    }

    62.5% {
        transform: translate(-0.025em, -0.0525em) rotateZ(-2deg);
    }

    75% {
        transform: translate(-0.125em, 0em) rotateZ(-2deg);
    }

    87.5% {
        transform: translate(-0.1em, 0.1em) rotateZ(2deg);
    }

    100% {
        transform: translate(0em, 0em) rotateZ(2deg);
    }
}
