---
import Layout from "../../layouts/Layout.astro";
import Header from "../header.astro";
import Footer from "../footer.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"blog">[] =
    await getCollection("blog");

  return allBlogArticles.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<!doctype html>
<link rel="stylesheet" href="/style.css" />
<html lang="en">
  <Header currentPage="blog" showTapeMachine={true} />
  <div class="wrap">
    <body>
      <h1 id="">{entry.data.title}</h1>

      <div>
        {entry.data.tags.map((tag) => <span class="tag-pill">{tag}</span>)}
      </div>
      <p id="subheading-text">
        By {entry.data.author} on the{" "}
        {
          new Date(entry.data.pubDate).toLocaleDateString("en-GB", {
            hour: "2-digit",
            minute: "2-digit",
            day: "2-digit",
            month: "short",
            year: "numeric",
          })
        }
      </p>
      <div class="plain-border"></div>

      <div class="text-content">
        <Content />
      </div><Footer />
    </body>
  </div>

  <style>
    .tag-pill {
      display: inline-block;
      background: #311e5b;
      color: #ffffff;
      padding: 0.2em 0.9em;
      border-radius: 999px;
      font-size: 0.75em;
      margin: 0 0.3em 0.3em 0;
      font-weight: 500;
      letter-spacing: 0.03em;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      vertical-align: middle;
    }

    .plain-border {
      border-bottom: 2px solid rgb(206, 206, 206);
      margin-bottom: 1.5em;
      margin-top: 0em;
    }

    .break {
      margin-bottom: 50px;
    }
  </style>
</html>
